body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#webcam {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
